<footer>
    <div class="flexbox-footer">
        <div class="social">
            <a><i class="fa-brands fa-facebook social-icon"></i></a>
            <a><i class="fa-brands fa-instagram social-icon"></i></a>
            <a><i class="fa-brands fa-twitter social-icon"></i></a>
            <a><i class="fa-brands fa-youtube social-icon"></i></a>
        </div>
        <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio implementado por mcamimejia</p>
    </div>
</footer>