<header>
    <div class="flexbox-header">
        <div class="container">
            <a href="/"><img class="logo" src="/images/logo.png" alt="logo"></a>
        </div>
        <nav class="main-nav">
            <ul class="flexbox-ul">
                <li><a href="/">NAVES ESPACIALES QUE PASARON A LA HISTORIA</a></li>
            </ul>
        </nav>
    </div>
</header>