<header>
    <div class="flexbox-header">
        <div class="container">
            <a href="/"><img class="logo" src="/images/Logo.png" alt="logo"></a>
        </div>
        <nav class="main-nav">
            <ul class="flexbox-ul">
                <% if(locals.isLogged) { %>
                <li><a href="/users/profile/<%=locals.userLogged.user_id%>">Profile</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/transactions/type/2">Expenses</a></li>
                <li><a href="/transactions/type/1">Incomes</a></li>
                <li><a href="/users/logout">Sign out</a></li>
                <% } else {%> 
                <li><a href="/users/login">Sign in</a></li>
                <li><a href="/users/register">Register</a></li>
                <% } %> 
            </ul>
        </nav>
    </div>
</header>